<div class="" *ngIf="messages">
    <div *ngIf="messages && messages.length === 0" class="no-messages">
        You didn´t receive any messages.
    </div>

    <div *ngFor="let message of messages" class="item-user">
        <div class="panel panel-default" *ngIf="message.emitter">
            <div class="panel-body">
                <div class="user-name">
                    <p class="name-surname">
                        <span class="message-from">
                            From <a [routerLink]="['/profile', message.emitter._id]">{{message.emitter.name + ' ' +
                                message.emitter.surname}}</a>
                        </span>
                        &nbsp;
                        <span class="date nickname">
                            <i>{{ message.created_at }}</i>
                            &nbsp;|
                            <i> {{ message.created_at }} </i>
                        </span>
                    </p>
                    <div class="message-text">
                        <p><strong>
                                {{message.text}}
                            </strong>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <ul class="pagination pull-right" *ngIf="pages > 1">
        <li *ngIf="page > 1"><a class="previous" [routerLink]="['/messages/received', prev_page]">Previous</a></li>
        <li *ngIf="pages !== page"><a class="next" [routerLink]="['/messages/received', next_page]">Next</a></li>
    </ul>
</div>
