<div>
    <form #userEditForm="ngForm" (ngSubmit)="onSubmit()">
        <h1>{{title}}</h1>
        <div>
            <p>
                <label>Name: </label><br>
                <input type="text" name="name" #name="ngModel" [(ngModel)]="user.name" required />
                <span *ngIf="!name.value && name.touched">
                    User name is required
                </span>
            </p>
            <p>
                <label>Surname: </label><br>
                <input type="text" name="surname" #surname="ngModel" [(ngModel)]="user.surname" required />
                <span *ngIf="!surname.value && surname.touched">
                    User surname is required
                </span>
            </p>
            <p>
                <label>Nickname: </label><br>
                <input type="text" name="nick" #nick="ngModel" [(ngModel)]="user.nick" required />
                <span *ngIf="!nick.value && nick.touched">
                    User nickname is required
                </span>
            </p>
        </div>
        <div>
            <p>
                <label>Email: </label><br>
                <input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" required
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" />
                <span *ngIf="!email.value && email.touched">
                    User email is required
                </span>
            </p>
            <!-- <p>
                <input type="file" name="file" id="file" (change)="fileChangeEvent($event)" />
                <label for="file">Select an image</label>
            </p>
            <div *ngIf="user.image">
                <img src="{{url + 'get-image-user/' + user.image }}" width="100" height="100" />
            </div> -->
        </div>
        <div>
            <input type="submit" value="Update" [disabled]="!userEditForm.form.valid" />
        </div>
    </form>
</div>